/*
Theme Name: Tessonnier Group
Author: Rippke Design
Author URI: http://www.rippkedesign.com
Template: Divi
Description: Responsive WordPress theme built for Tessonnier Group.
Version: 1.0
*/

@import url('style_1.css');